*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: white;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}


nav{
    position: sticky;
    height: 6vh;
    width: 100vw;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#centernavitem{
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 6vh;
    display: flex;
}


.navitem img{
    height: 6vh;
    overflow-y: hidden;
    align-items: center;
    justify-content: space-around;
    align-self: center;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}
.mapcontainer{
    margin-top: 0;
    width: 100vw;
    height: 74vh;
    align-items: center;
    justify-content: space-around;
}


.map{
    margin-left: 2vw;
    align-items: center;
    justify-content: space-around;
    width: 95vw;
    box-shadow: 5px 8px 8px #888888;
    height: 72vh;
}
/* #map { height: 72vh; } */


.buttonscontainer{
    height:15vh;
    background-color: rgba(216, 148, 59, 0);
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}
.buttons{
    margin-left: 2vw;
    box-shadow: 5px 8px 8px #888888;
    background-color: rgb(255, 255, 255);
    height:14vh;
    width: 95vw;
    align-items: center;
    justify-content: space-around;
}